:root{
    --vermelho:#E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/


body{
   background: var(--preto);
   font-family: 'Arial', Times, serif;
   color:white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 8px;
    color: var(--vermelho);
    font-family:monospace;
    font-weight: bold;
    font-size:40px ;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#FFF;
}

/*Filme Principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/netflix_clone/img/peaky_blinders.jpg);
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 30px;
}

.filme-principal .titulo{
    margin-top: 20%;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 11px;

    cursor: pointer;
    transition: 1s ease;
}

.botao:hover{
    background-color: white;
    color:black
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.subtitulo{
    margin-left: 15px;
    color: var(--vermelho);
    font-family:monospace;
    font-weight: bold;
    font-size:20px ;
}

.carrosel-serie{
    margin-top: 20px;
}

h3{
    margin-bottom: 8px;
}